.navigation{
  width: 100%;
  .container{
    .nav-icons{
      .logo{
        font-size: 60px;
        margin-left: 15px;
        &:hover{
          color: var(--icon-hover-color);
        }
      }
      .other-icons{
        display: flex;
        flex-direction: row;
        max-height: 10px;
        padding-top: 10px;
        .icons, .menu{
          button{
            border: 0;
            background-color: white;
            margin: 5px;
            padding: 7px;
            
           
              a{
                text-decoration: none;
                color: var(--font-color);
                font-size: var(--icon-size-1);
                
              }
              &:hover{
              border-radius: 50%;
              background-color: var(--icon-hover-color);
                    }
                }
              }
            }
     
    }
  }
  .container-2{
    display: none;
  }
}
@media (min-width: 960px){
  .navigation{
    .container{
     display: none;
  }
  .container-2{
    display: contents;
      .nav-1{
        max-height: 20%;
        background-color: var(--nav-background-color);
        padding: 5px;
        .nav-1-content{
            .nav-1-icon{
              margin-left: 50px ;
              button{
                border: 0;
                
                a{
                  color: var(--font-color);
                  font-size: 20px;
                  margin: 5px;
                  &:hover{
                    color: var(--hover-color);
                  }
                }
              }
            }
            .nav-1-text{
              ul{
                margin-right: 25px;
                li{
                  display: inline-block;
                  text-decoration: none;
                  padding: 5px;
                  a{
                    color: var(--font-color);
                    text-decoration: none;
                    margin: 12px;
                    &:hover{
                      color: var(--hover-color);
                    }
                  }
                }
              }
            }
        }
      }

      .nav-2{
        padding: 10px;
        .nav-2-content{
            .logo{
              font-size: 60px;
              margin-left: 50px;
              position: relative;
              top: -18px;
              &:hover{
                color: var(--hover-color);
              }
            }
            .nav-2-text{
              position: relative;
              top: 5px;
              left: 12%;
              span{
                margin-right: 12px;
              } 
              #show1, #show3,.show2{
                display: none;
              }
            }
            .nav-2-icons{
                .nav-search{
                  input{
                    width: 70%;
                    height: 40px;
                    background: #f5f5f5;
                    padding: 10px;
                    cursor: text;
                    border: 0;
                    border-radius: 10px; 
                     &::placeholder{
                      position: relative;
                      left: 25%;
                      color: var(--icon-hover-color);
                    }
                    &:hover{
                      background-color: var(--icon-hover-color);
                            }
                     }
                  }
                  #icon{
                    position: relative;
                    left: -66%;
                    top: 5px;
                    height: 20px;
                    &:hover{
                    border-radius: 50%;
                    background-color: var(--icon-hover-color);
                          }
                        }
                  }
                }

                .nav-others{
                  position: relative;
                  top: 3px;
                  left: -15%;
                  button{
                    border: 0;
                    background-color: white;
                    height: 39px;
                    padding: 5px;
                    a{
                      font-size: var(--icon-size-1);
                      color: var(--font-color);
                      margin: 5px;
                    }
                    &:hover{
                      border-radius: 50%;
                      background-color: var(--icon-hover-color);
                            }
                }
            }
          }
      }
  }
}

@media (min-width: 990px){
  .container-2{
    .nav-2{
      .nav-2-content{
        .nav-2-text{
          span{
            font-style: italic;
          }
          #show1{
            display: contents;
          }
        }
      }
    }
  }
}

